#tdtopo {
    margin-left: 500px;
    display: flex;
    margin-top: 45px;
}

.linha {
    text-align: center;
    margin-top: 20px;
}

.btntopo {
    margin-left: 70px;
    width: 120px;
    height: 100px;
    border: none;
    background-color: white;
    font-family: "Trispace", sans-serif;
    color: #92251E;
    font-size: 15px;
}

#btncadastro {
    font-family: "Trispace", sans-serif;
    margin-top: 35px;
    background-color: #92251E;
    margin-left: 50px;
    color: white;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border: none;
}
#inp{
    margin-top: 40px;

}
#dvnome{
    text-align: center;
    border: #92251E 5px;
    font-family: "Trispace", sans-serif;
    margin-top: 10px;

}
#dvtelefone{
    text-align: center;
    border: #92251E 5px;
    font-family: "Trispace", sans-serif;
    margin-top: 10px;

}
#dvemail{
    text-align: center;
    border: #92251E 5px;
    font-family: "Trispace", sans-serif;
    margin-top: 10px;

}
#dvsenha{
    text-align: center;
    border: #92251E 5px;
    font-family: "Trispace", sans-serif;
    margin-top: 10px;

}
#btncad{
    font-family: "Trispace", sans-serif;
    margin-top: 35px;
    background-color: #92251E;
    margin-left: 50px;
    color: white;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border: none;
   
}
#btncada{
    text-align: center;
}
#Cad{
    margin-top: 20px;
    text-align: center;
    font-family: "Trispace", sans-serif;
    font-size: 20px;
}